@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: rgba(33, 30, 27, 1);
  --foreground: rgba(253, 251, 243, 1);

  --card: rgba(33, 30, 27, 1);
  --card-foreground: rgba(253, 251, 243, 1);

  --popover: rgba(33, 30, 27, 1);
  --popover-foreground: rgba(253, 251, 243, 1);

  --primary: rgba(242, 177, 81, 1);
  --primary-foreground: rgba(28, 26, 24, 1);

  --secondary: rgba(79, 50, 34, 1);
  --secondary-foreground: rgba(253, 251, 243, 1);

  --muted: rgba(57, 52, 47, 1);
  --muted-foreground: rgba(182, 171, 156, 1);

  --accent: rgba(162, 105, 37, 1);
  --accent-foreground: rgba(253, 251, 243, 1);

  --destructive: rgba(153, 57, 57, 1);
  --destructive-foreground: rgba(253, 251, 243, 1);

  --border: rgba(66, 59, 53, 1);
  --input: rgba(66, 59, 53, 1);
  --ring: rgba(201, 148, 87, 1);
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

.dark {
  --background: rgba(33, 30, 27, 1);
  --foreground: rgba(253, 251, 243, 1);

  --card: rgba(33, 30, 27, 1);
  --card-foreground: rgba(253, 251, 243, 1);

  --popover: rgba(33, 30, 27, 1);
  --popover-foreground: rgba(253, 251, 243, 1);

  --primary: rgba(242, 177, 81, 1);
  --primary-foreground: rgba(28, 26, 24, 1);

  --secondary: rgba(79, 50, 34, 1);
  --secondary-foreground: rgba(253, 251, 243, 1);

  --muted: rgba(57, 52, 47, 1);
  --muted-foreground: rgba(182, 171, 156, 1);

  --accent: rgba(162, 105, 37, 1);
  --accent-foreground: rgba(253, 251, 243, 1);

  --destructive: rgba(153, 57, 57, 1);
  --destructive-foreground: rgba(253, 251, 243, 1);

  --border: rgba(66, 59, 53, 1);
  --input: rgba(66, 59, 53, 1);
  --ring: rgba(201, 148, 87, 1);
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
